
canvas {
    display: block;
    vertical-align: bottom;
    wdith: 100%;
    height: 100%;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #111;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  
  